In [1]:
import json
import csv
import pandas as pd
import matplotlib.pyplot as plt

# load review data

In [2]:
data = []
with open('review.json') as f:
    for line in f:
        data.append(json.loads(line))

In [3]:
len(data)

6990280

In [4]:
data[0]

{'review_id': 'KU_O5udG6zpxOg-VcAEodg',
 'user_id': 'mh_-eMZ6K5RLWhZyISBhwA',
 'business_id': 'XQfwVwDr-v0ZS3_CbbE5Xw',
 'stars': 3.0,
 'useful': 0,
 'funny': 0,
 'cool': 0,
 'text': "If you decide to eat here, just be aware it is going to take about 2 hours from beginning to end. We have tried it multiple times, because I want to like it! I have been to it's other locations in NJ and never had a bad experience. \n\nThe food is good, but it takes a very long time to come out. The waitstaff is very young, but usually pleasant. We have just had too many experiences where we spent way too long waiting. We usually opt for another diner or restaurant on the weekends, in order to be done quicker.",
 'date': '2018-07-07 22:09:11'}

In [11]:
reviewid = []
businessid= []
userid = []
stars = []
text = []
date = []

for entry in range(0, len(data)):     
    reviewid.append(data[entry]['review_id'])
    businessid.append(data[entry]['business_id'])
    userid.append(data[entry]['user_id'])
    stars.append(data[entry]['stars'])
    text.append(data[entry]['text'])
    date.append(data[entry]['date'])

In [ ]:
data = {'review_id':reviewid,'business_id':businessid,'user_id':userid,'stars':stars,'text':text,'date':date}
review_data  = pd.DataFrame(data)

In [7]:
business_df = pd.DataFrame(data2)

In [115]:
review_data.head()

,review_id,business_id,user_id,stars,text,date
0,KU_O5udG6zpxOg-VcAEodg,XQfwVwDr-v0ZS3_CbbE5Xw,mh_-eMZ6K5RLWhZyISBhwA,3.0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,7ATYjTIgM3jUlt4UM3IypQ,OyoGAe7OKpv6SyGZT5g77Q,5.0,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,YjUWPpI6HXG530lwP-fb2A,8g_iMtfSiwikVnbP2etR0A,3.0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,kxX2SOes4o-D3ZQBkiMRfA,_7bHUi9Uuf5__HHc_Q8guQ,5.0,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,e4Vwtrqf-wpJfwesgvdgxQ,bcjbaE6dDog4jkNY91ncLQ,4.0,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15

In [ ]:
len(review_data)

In [10]:
review_data_test = pd.merge(review_data,df[['business_id','postal_code']], left_on='business_id', right_on='business_id')

NameError: name 'review_data' is not defined

In [120]:
len(review_data_test)

671

In [9]:
review_data_test.to_csv('review_data.csv')

# load business data

In [3]:
data2 = []
with open('business.json') as f:
    for line in f:
        data2.append(json.loads(line))
len(data2)  # 156639 business

150346

In [68]:
data2[0]

{'business_id': 'Pns2l4eNsfO8kk83dixA6A',
 'name': 'Abby Rappoport, LAC, CMQ',
 'address': '1616 Chapala St, Ste 2',
 'city': 'Santa Barbara',
 'state': 'CA',
 'postal_code': '93101',
 'latitude': 34.4266787,
 'longitude': -119.7111968,
 'stars': 5.0,
 'review_count': 7,
 'is_open': 0,
 'attributes': {'ByAppointmentOnly': 'True'},
 'categories': 'Doctors, Traditional Chinese Medicine, Naturopathic/Holistic, Acupuncture, Health & Medical, Nutritionists',
 'hours': None}

In [69]:
business_id = []
city = []
state = []
stars = []
review_count = []
categories = []
postal_code = []
latitude = []
longitude = []
pricerange = []
is_open = []
name = []


for entry in range(0, len(data2)): 
    if "Restaurants" in (data2[entry]["categories"], True):
        business_id.append(data2[entry]['business_id'])
        name.append(data2[entry]['name'])
        city.append(data2[entry]['city'])
        state.append(data2[entry]['state'])
        stars.append(data2[entry]['stars'])
        postal_code.append(data2[entry]['postal_code'])
        review_count.append(data2[entry]['review_count'])
        categories.append(data2[entry]['categories'])
        latitude.append(data2[entry]['latitude'])
        longitude.append(data2[entry]['longitude'])
        is_open.append(data2[entry]['is_open'])
        if 'RestaurantsPriceRange2'in (data2[entry]["attributes"], True):
            pricerange.append(data2[entry]['attributes']['RestaurantsPriceRange2'])
        else:
            pricerange.append(0)

In [70]:
data2 = {'business_id ':business_id,'name':name,'city':city,'state':state,'stars':stars,'review_count':review_count,
        'categories':categories,'latitude':latitude,'longitude':longitude,'is_open':is_open,
        'pricerange':pricerange,'postal_code':postal_code}
business_data  = pd.DataFrame(data2)

# clean business data keep only is_open = 1 in six states

In [71]:
IL = business_data[business_data['state']=='IL']   # PA NV NC IL OH AZ only keep these 6 states 
PA = business_data[business_data['state']=='PA'] 
NV = business_data[business_data['state']=='NV']
NC = business_data[business_data['state']=='NC']
OH = business_data[business_data['state']=='OH']
AZ = business_data[business_data['state']=='AZ']
frame = [IL,PA,NV,NC,OH,AZ]
business_info = pd.concat(frame)

In [72]:
business = business_info[business_info['is_open']==1]   # only keep restaurants that are open
business.to_csv('business_data.csv')   # save to csv

In [73]:
df = pd.read_csv('business_data.csv')

19

# Clean review: keep reviews for restaurants in cleaned business dataset

In [55]:
#df = pd.read_csv('business_data.csv')

#df2 = pd.read_csv('review_data.csv')

df['key'] = df.iloc[:,0]
review = df2[df2['business_id'].isin(df['key'])]  # only keep reviews for restaurants in business_data.csv
review = review.reset_index().iloc[:,2:]

In [71]:
df = df.rename(columns={'business_id ':'business_id'})

In [107]:
test = pd.merge(review,df[['business_id','postal_code']], left_on='business_id', right_on='business_id')

In [110]:
test.to_csv('review_subset.csv',index = False)  # save to csv

# Load user data

In [111]:
data3 = []
with open('user.json') as f:
    for line in f:
        data3.append(json.loads(line))
len(data3)    # 1183362 users

1987897

In [112]:
userid = []
average_stars= []
review_count = []
yelping_since = []

for entry in range(0, len(data3)):     
    userid.append(data3[entry]['user_id'])
    average_stars.append(data3[entry]['average_stars'])
    review_count.append(data3[entry]['review_count'])
    yelping_since.append(data3[entry]['yelping_since'])

In [113]:
data3 = {'user_id':userid ,'average_stars':average_stars,'review_count':review_count,'yelping_since':yelping_since,'review_count':review_count}
user_data  = pd.DataFrame(data3)

In [114]:
user_data.to_csv('user_data.csv')